.formularios .titulo-principal{
    color: var(--color-principal);
    font-weight: bold;
}
.formularios .imagen-previa{
    border: 2px dashed;
    border-color: var(--color-principal);
    width: 120px;
    height: 120px;
    margin: auto;
    text-align: center;
    font-size: 50px;
    display: grid;
    place-content: center;
}
.pasos{
    max-width: 400px;
    margin: auto !important;
    display: flex;
    justify-content: center;
    gap: 20px 100px;
}
.pasos .paso{
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-principal);
    font-weight: bold;
    border-radius: 50%;
    display: grid;
    position: relative;
    place-content: center;
    transition: background,color 0.3s ease-in-out;

}
.pasos .regla{
    background: var(--color-principal);
    transition: width 0.3s ease-in-out;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
}
