*{
    --color-principal: #F8B602;
    --color-footer:#6D747D;
}
body{
    font-family: 'Montserrat', sans-serif !important;
}
.navegacion{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.navegacion .logo img{
    width: 150px;
    display: block;
}
.boton-sweet-aler-confirmar{
    padding: 0.5rem;
    text-align: center;
    background: var(--color-principal);
    color: #fff;
    
}
.navegacion .indices-navegacion{
    display: flex;
    list-style: none;
    gap: 0 20px;
    align-items: center;
    margin-bottom: 0;
}
.navegacion .indices-navegacion .activo a{
    color: var(--color-principal);
}
.navegacion .indices-navegacion .activo-btn a{
    color: #ffff !important;
    background-color: var(--color-principal);
}
.navegacion .indices-navegacion a{
    text-decoration: none;
    font-weight: bold;
    color: var(--bs-secondary);
}
footer{
    background-color: var(--color-footer);
}
.btn-login-access{
    background-color: var(--color-principal) !important;
    color: #fff !important;
}
.titulo-principal-modulo{
font-weight: bold;
color: var(--color-principal);
}
footer .lista-redes{
    display: flex;
    gap: 20px 30px;
    color: #fff;
    font-size: 2rem;
    justify-content: center;
}
form > div:has(input:required,select:required) label::after{
    content: " *";
    font-weight: bold;
    color: red !important;
}
.badge-notification::before{
    content: attr(data-info);
    display: block;
    position: absolute;
    font-size: 10px;
    color: #ffff;
    text-align: center;
    top: -5px;
    right: -5px;
    width: 14px;
    height: 14px;
    border-radius: 5px;
    background: rgb(255, 97, 97);
}
.btn-primario-pg{
    background-color: var(--color-principal) !important;
    color: #fff;
    font-weight: bold;
}
.btn-primario-pg{
    background-color: var(--color-principal) !important;
    color: #fff;
}
button > *{
    pointer-events: none !important;
    user-select: none !important;
}

.cargar-general{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    background: rgba(11, 11, 11, 0.598);
    display: grid;
    place-items: center;
    z-index: 999999;
}
.loader-baner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: var(--color-principal);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}